<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Stanford Online Help</title></%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#" class="help">Help</a>
  </nav>

  <section class="vision">
    <section class="message left" id="help">
      <div class="photo">
        <img src="${static.url('themes/szux-theme/images/szux-faq2.jpg')}" alt="元平体育馆" />
      </div>
      <article>
        <h2>课程问题</h2> 
        <p><strong>如果你遇到了注册课程问题:</strong></p>
        <p>
           - <a href="/logout">注销</a>您的SZUX账户。<br />
           - 进入您选择课程的"关于"界面。<br />
           - 点击"注册"按钮，您就可以注册课程了。
        </p>
        <h2>技术支持</h2>
        <p><strong>请发送邮件到:</strong><br />
        <a href="mailto:techsupport@szux.org">techsupport@szux.org</a></p>
      </article>
    </section>
  </section>

</section>
