<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>关于SZUX</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      if ( document.location.href.indexOf('#faq') > -1 ) {
        $('section#faq').show();
        $('#about-menu a.faq').addClass('active');
      } else if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">关于我们</a>
    <a href="#faq" class="faq">常见问题</a>
    <a href="#contact" class="contact">联系我们</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/szux-theme/images/szux-about.jpg')}" alt="深圳大学日晷" />

      </div>
      <article>
        <h2>关于<span class="edx">SZUX</span></h2>
        
        <p>SZUX正在开发新的在线课程,以改进学校教育，为公众提供优秀的学习机会。由深圳大学SZUX团队基于<a href="http://code.edx.org">OpenEdX platform</a>平台搭建开发。</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## FAQ Section ##
    <section class="message left" id="faq">
      <div class="photo">
        <img src="${static.url('themes/szux-theme/images/szux-faq.jpg')}" alt="深圳大学古石今人" />

      </div>
      <article>
        <h2>FAQs</h2>
        <p><strong>SZUX是一个什么性质的平台？</strong><br />
        SZUX是一个公开免费的在线教育平台。以改进学校教育，为公众提供优秀的学习机会。</p>
        
        <p><strong>有哪些浏览器可以浏览SZUX的内容？</strong><br />
        为了使您能够顺利使用SZUX平台，请将您的浏览器升级到最新版本，SZUX将支持以下的浏览器：<a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie">IE 9.0</a>,<a href="http://www.google.cn/intl/zh-CN/chrome/browser/">Google Chrome</a>, <a href="http://www.firefox.com.cn/download/">Mozilla Firefox</a>, 以及<a href="http://www.apple.com/safari/">Apple Safari</a>. </p>
		
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/szux-theme/images/szu-library.jpg')}" alt="深圳大学图书馆北馆" />
      </div>
      <article id="SZUX">
        <h2>联系信息</h2>
        <p><strong>一般信息咨询请发送邮件到:</strong><br />
        <a href="mailto:contact@szux.org">contact@szux.org</a></p>

        <p><strong>版权问题请发送邮件到:</strong><br />
        <a href="mailto:copyright@szux.org">copyright@szux.org</a></p>

        <p><strong>漏洞反馈请发送邮件到:</strong><br />
        <a href="mailto:bugs@szux.org">bugs@szux.org</a></p>

        <p><strong>咨询建议请发送邮件到:</strong><br />
        <a href="mailto:suggestions@szux.org">suggestions@szux.org</a></p>

        <p><strong>技术支持请发送邮件到:</strong><br />
        <a href="mailto:techsupport@szux.org">techsupport@szux.org</a></p>

      </article>
      <script>
        $(function() {
          var ua = navigator.userAgent;
          
          $('#stanford-OpenEdX-contact a').each(function() {
            var href = $(this).attr('href') + "?body=User Agent String: " + ua + " (Please do not delete, this text helps us help you. - Stanford OpenEdX Team)";
            if (!$(this).hasClass('external')) {
              $(this).attr('href', href);
            }
          });
        });
      </script>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
