{% extends "main_django.html" %}
{% load staticfiles %}
{% block title %}<title>重置您在{{ PLATFORM_NAME }} 的密码</title>{% endblock %}
{% block main_vendor_js %}{% endblock %}
{% block headextra %}
  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <script type="text/javascript">
    $(function() {

      var view_name = 'view-passwordreset';

      // adding js class for styling with accessibility in mind
      $('body').addClass('js').addClass(view_name);

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });
    });
  </script>
{% endblock %}

{% block bodyclass %}view-passwordreset{% endblock %}

{% block body %}
  <section class="passwordreset container">
    <section class="introduction">
      <header>
        <h1>重置您在{{ PLATFORM_NAME }} 的密码</h1>
      </header>
    </section>

    <section role="main" class="content">
      {% if validlink %}
      <header>
        <h2 class="sr">Password Reset Form</h2>
      </header>

      <form role="form" id="passwordreset-form" method="post" data-remote="true" action="">{% csrf_token %}
        <!-- status messages -->
        <div role="alert" class="status message">
          <h3 class="message-title">We're sorry, {{ PLATFORM_NAME }} enrollment is not available in your region</h3>
          <p class="message-copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </div>

        <div role="alert" class="status message submission-error">
          <h3 class="message-title">注册过程中出现了以下问题： </h3>
          <ul class="message-copy">
            <li>您还未完成信息填写。</li>
            <li>密码不相符。</li>
          </ul>
        </div>

        <div role="alert" class="status message system-error">
          <h3 class="message-title">对不起，无法重置您的密码：</h3>
          <p class="message-copy">Someone has been made aware of this issue. Please try again shortly. Please <a href="{{MKTG_URL_CONTACT}}">contact us</a> about any concerns you have.</p>
        </div>

        <p class="instructions">
          请输入两次您的密码 <br />
          标记为 <strong class="indicator">的信息为必填项 (*)</strong>.
        </p>

        <fieldset class="group group-form group-form-requiredinformation">
          <legend class="sr">Required Information</legend>

          <ol class="list-input">
            <li class="field required password" id="field-new_password1">
              <label for="new_password1">输入您的新密码</label>
              <input id="new_password1" type="password" name="new_password1" placeholder="*****" />
            </li>
            <li class="field required password" id="field-new_password2">
              <label for="new_password2">重复输入该密码</label>
              <input id="new_password2" type="password" name="new_password2" placeholder="*****" />
            </li>
          </ol>
        </fieldset>

        <div class="form-actions">
          <button name="submit" type="submit" id="submit" class="action action-primary action-update">更改密码</button>
        </div>
      </form>

      {% else %}

      <header>
        <h2 class="sr">无法充值您的密码</h2>
      </header>
      <p>该链接已经失效, 重置密码失败。请返回<a href="/login">登录</a> 并重复该过程。</p>

      {% endif %}
    </section>

    <aside role="complementary">
      <header>
        <h3 class="sr">密码重置帮助</h3>
      </header>

      <div class="cta cta-help">
        <h3>帮助信息</h3>
        <p>查看<a href="{{MKTG_URL_FAQ}}">常见问题</a></p>
      </div>
    </aside>
  </section>
{% endblock %}
